/* Estilos  para el contenedor */
#container{
    display: flex;
    flex-wrap: wrap;
    width: 960px; /*16 cuadrados * 30px de ancho */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos para cada cuadrado */
.square{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-sizing: border-box; /* Incluye el borde en el tamaño del cuadrado */
}

#newGrid{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#clearGrid{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}